
html {
    background-color: #f5f5f5;
}
/* Main Title */
.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #dc3545;
}

.subtitle {
    display: flex;
    justify-content: center;
}

/* Game Grid */
#game {
    margin: 15px;
    border-radius: 10px;
}

#playSquare {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

#playSquare:hover {
    background-color: rgba(32,156,238, .2);
}

/* Score Settings */
#p1Display {
    margin-right: 10px;
}

#p2Display {
    margin-left: 10px;
}

#reset:hover {
    cursor: pointer;

}


/* Copy Right and Footer Settings */
.copyright {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 25px;
    color: #363636;
}
#copyrightLink {
    text-decoration: none;
    color: #363636;
}